<%- include('../Includes/begin.ejs') %>
<link rel="stylesheet" href="../CSS/admin-dashboard.css">
<div class="container-fluid">
    <div id="wrapper">
        <%- include('../Includes/admin_nav.ejs') %>
    </div>
</div>
<%- include('../Includes/admin_end.ejs') %>