<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER ADMIN</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="CSS/main.css">
    <link rel="stylesheet" href="CSS/student-dashboard.css">
    <link rel="stylesheet" href="CSS/student-profile.css">

</head>

<body>

    <div id="navbar-wrapper" style="position: fixed;">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand"><b>CMS NSIT</b></a>
                </div>
            </div>
        </nav>
    </div>

    <section id="content-wrapper">
        <main role="main" class="pt-5 main">
            <div class="header text-center pt-5 pt-lg-4">
                <h1>ADMIN <span style="color: orangered;">REGISTER</span></h1>
            </div>

            <hr>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 m-auto">
                        <div class="card card-body"
                            style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <h1 class="text-center mb-3" style="font-size: 28px;"><i class="fa fa-user-plus"
                                    style="font-size: 28px;"></i> Register</h1>
                            <!-- Register Form -->
                            <form action="/admin/register" method="POST">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" id="firstName" name="firstName" class="form-control"
                                        placeholder="Enter First Name" />
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" id="lastName" name="lastName" class="form-control"
                                        placeholder="Enter Last Name" />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email" class="form-control"
                                        placeholder="Enter Email" />
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="Enter Password" />
                                </div>
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" id="confirmPassword" name="confirmPassword"
                                        class="form-control" placeholder="Confirm Password" />
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
                <% if (message.length > 0) { %>
                <% if (!successful) {%>
                <h4 class="alert alert-danger mt4"> <%= message %> </h4>
                <% } else { %>
                <h4 class="alert alert-success mt4"> <%= message %> </h4>
                <% } %>
                <% }%>
            </div>
        </main>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>