<div class="container-fluid">

    <div id="wrapper">

        <aside id="sidebar-wrapper">

            <div class="sidebar-brand">
                <h2>CMS NSIT</h2>
            </div>

            <ul class="sidebar-nav">
                <li class="<% if (page_name === 'overview') { %>
                     active
                    <%} %>">
                    <a class="ddbtn" href="/staff/dashboard"><i class="fa fa-home"></i>Overview</a>
                </li>
                <li class="<% if (page_name === 'profile') { %>
                     active
                    <%} %>">
                    <a href="/staff/profile"><i class="fa fa-id-card"></i>Profile</a>
                </li>

                <li class="<% if (page_name === 'attendance') { %>
                     active
                    <%} %>">
                    <a href="/staff/student-attendance"><i class="fa fa-chalkboard-teacher"></i>Mark Attendance</a>
                </li>


                <li class="<% if (page_name === 'stu-report') { %>
                     active
                    <%} %>">
                    <a href="/staff/student-report"><i class="fa fa-book-reader"></i>Student Report</a>
                </li>

                <li class="<% if (page_name === 'cls-report') { %>
                     active
                    <%} %>">
                    <a href="/staff/class-report"><i class="fa fa-award"></i>Class Report</a>
                </li>

                <li class="<% if (page_name === 'timetable') { %>
                     active
                    <%} %>">
                    <a href="/staff/timetable"><i class="fa fa-chalkboard"></i>Check TimeTable</a>
                </li>

                <hr>
                <li>
                    <a href="#"><i class="fa fa-cog"></i>Settings</a>
                </li>
                <li>
                    <a href="/staff/logout"><i class="fa fa-sign-out-alt"></i>Logout</a>
                </li>
            </ul>
        </aside>

        <div id="navbar-wrapper" style="position: fixed;">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </nav>
        </div>