<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS NSIT</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../../../CSS/main.css">
    <link rel="stylesheet" href="../../../CSS/student-dashboard.css">
    <link rel="stylesheet" href="../../../CSS/student-profile.css">

</head>

<body>

    <link rel="stylesheet" href="../../../CSS/admin-dashboard.css">

    <div class="container-fluid">

        <div id="wrapper">

            <aside id="sidebar-wrapper">

                <div class="sidebar-brand">
                    <h2>CMS NSIT</h2>
                </div>

                <ul class="sidebar-nav">
                    <li>
                        <a href="/admin/dashboard"><i class="fa fa-home"></i>Overview</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-id-card"></i>Profile</a>
                    </li>

                    <li class="dropdown">
                        <a class="ddbtn" href="#"><i class="fa fa-chalkboard-teacher"></i>Manage Staffs</a>
                        <div class="dropdown-content">
                            <a href="/admin/getStaff">See Staffs</a>
                            <a href="/admin/addStaff">Add New Staff</a>
                            <a href="/admin/modifyStaff">Modify Staff</a>
                        </div>
                    </li>


                    <li class="dropdown">
                        <a class="ddbtn" href="#"><i class="fa fa-book-reader"></i>Manage Students</a>
                        <div class="dropdown-content">
                            <a href="/admin/addStudent">Add New Student</a>
                            <a href="/admin/modifyStudent">Modify Student</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a class="ddbtn" href="#"><i class="fa fa-award"></i>Manage Courses</a>
                        <div class="dropdown-content">
                            <a href="/admin/getCourse">See Courses</a>
                            <a href="/admin/addCourse">Add New Course</a>
                            <a href="/admin/modifyCourse">Modify Course</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a class="ddbtn" href="#"><i class="fa fa-chalkboard"></i>Manage Classes</a>
                        <div class="dropdown-content">
                            <a href="/admin/addClass">Add New Class</a>
                            <a href="/admin/modifyClass">Modify Class</a>
                        </div>
                    </li>

                    <li class="dropdown active">
                        <a class="ddbtn" href="#"><i class="fa fa-school"></i>Manage Dept.</a>
                        <div class="dropdown-content">
                            <a href="/admin/addDept">Add New Department</a>
                            <a href="/admin/getDept">Department Settings</a>
                        </div>
                    </li>



                    <hr>
                    <li>
                        <a href="#"><i class="fa fa-cog"></i>Settings</a>
                    </li>
                    <li>
                        <a href="/admin/logout"><i class="fa fa-sign-out-alt"></i>Logout</a>
                    </li>
                </ul>
            </aside>

            <div id="navbar-wrapper" style="position: fixed;">
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                </nav>
            </div>

            <section id="content-wrapper">
                <main role="main" class="pt-5 main">

                    <div class="main-content">
                        <div class="header pb-4 pb-sm-8 pt-5 pt-lg-8 d-flex align-items-center"
                            style="height: 100px; background-size: cover; background-position: center top;">

                        </div>
                        <div class="container-fluid mt--7">
                            <div class="row">
                                <div class="col-xl-12 order-xl-1">
                                    <div class="card bg-secondary shadow">
                                        <div class="card-header bg-white border-0">
                                            <div class="row align-items-center">
                                                <div class="col-8">
                                                    <h3 class="mb-0" style="color: brown;">ADD NEW DEPARTMENT</h3>
                                                </div>
                                                <div class="col-4 text-right">
                                                    <a href="/admin/getDept" class="btn btn-sm btn-primary">See All
                                                        Departments</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <form action="/admin/settings/departments" method="POST">
                                                <h6 class="heading-small text-muted mb-4">Department Information</h6>
                                                <div class="pl-lg-4">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label class="form-control-label"
                                                                    for="department">Department</label>
                                                                <input type="text" id="department" name="department"
                                                                    class="form-control form-control-alternative"
                                                                    placeholder="Department Name" value="<%= name %>"
                                                                    required>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="form-group">
                                                                <label class="form-control-label"
                                                                    for="deptId">Department
                                                                    Short Name <span style="font-size: x-small;">(You
                                                                        can't edit this!)</span></label>
                                                                <div class="card form-control form-control-alternative">
                                                                    <input type="hidden" id="deptId" name="deptId"
                                                                        value="<%= id %>">
                                                                    <p>
                                                                        <%= id %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <hr class="my-4">
                                                <button type="submit" class="btn btn-primary btn-block">CHANGE
                                                    DEPARTMENT</button>
                                            </form>


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>




                </main>
            </section>

        </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>

    <script>
        const $button = document.querySelector('#sidebar-toggle');
        const $wrapper = document.querySelector('#wrapper');

        $button.addEventListener('click', (e) => {
            e.preventDefault();
            $wrapper.classList.toggle('toggled');
        });
    </script>
</body>

</html>