<%- include('../../Includes/begin.ejs') %>

<link rel="stylesheet" href="../../CSS/admin-dashboard.css">

<div class="container-fluid">

    <div id="wrapper">

        <%- include('../../Includes/admin_nav.ejs') %>

        <section id="content-wrapper">
            <main role="main" class="pt-5 main">

                <div class="main-content">
                    <div class="header pb-4 pb-sm-8 pt-5 pt-lg-8 d-flex align-items-center"
                        style="height: 100px; background-size: cover; background-position: center top;">

                    </div>
                    <div class="container-fluid mt--7">
                        <div class="row">
                            <div class="col-xl-12 order-xl-1">
                                <div class="card bg-secondary shadow">
                                    <div class="card-header bg-white border-0">
                                        <div class="row align-items-center">
                                            <div class="col-8">
                                                <h3 class="mb-0" style="color: brown;">STUDENTS</h3>
                                            </div>
                                            <div class="col-4 text-right">
                                                <a href="/admin/getAllStudents" class="btn btn-sm btn-primary">ALL
                                                    STUDENTS</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form action="/admin/getStudent" method="POST">
                                            <h6 class="heading-small text-muted mb-4">Student Information</h6>
                                            <div class="pl-lg-4">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="section">Section</label>
                                                            <input type="number" id="section" name="section"
                                                                class="form-control form-control-alternative"
                                                                placeholder="Section">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label class="form-control-label"
                                                                for="department">Department</label>
                                                            <select class="form-control" id="department"
                                                                name="department">
                                                                <option>
                                                                    None
                                                                </option>
                                                                <% for(const department of departments) { %>
                                                                <option>
                                                                    <%= department %>
                                                                </option>
                                                                <% } %>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="my-4">
                                            <button type="submit" class="btn btn-primary btn-block">SEE RELEVANT
                                                STUDENTS</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>
    </div>
</div>

<%- include('../../Includes/admin_end.ejs') %>