<%- include('../Includes/begin.ejs') %>
    <%- include('../Includes/navbar.ejs') %>

        <div class="container pt-5">
            <div class="container pt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="card shadow p-3 mb-5 bg-white rounded">
                            <div class="forgot p-3">
                                <h2>Forgot your password?</h2>
                                <p>Change your password in three easy steps. This will help you to secure your password!
                                </p>
                                <ol class="list-unstyled">
                                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.
                                    </li>
                                    <li><span class="text-primary text-medium">2. </span>Our system will send you a
                                        temporary
                                        link</li>
                                    <li><span class="text-primary text-medium">3. </span>Use the link to reset your
                                        password
                                    </li>
                                </ol>
                            </div>
                            <%- include('../Includes/messages') %>
                                <form class="card" role="form" method="POST"
                                    action="/student/forgot-password?_method=PUT">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="email-for-pass">Enter your email address</label>
                                            <input class="form-control" type="email" name="email" id="email"
                                                required><small class="form-text text-muted">Enter the email address you
                                                used during the
                                                registration. Then we'll email a link to this address.</small>
                                        </div>
                                    </div>

                                    <button class="btn btn-primary btn-block" type="submit">Get New Password</button>
                                </form>
                                <hr>
                                <button class="btn btn-danger" onclick="location.href = '/student/login'">Back to
                                    Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include('../Includes/end.ejs') %>