<%- include('../Includes/begin.ejs') %>
    <%- include('../Includes/staff_nav.ejs') %>

        <section id="content-wrapper">
            <main role="main" class="pt-5 main">
                <div class="header pb-4 pb-sm-8 pt-5 pt-lg-4 d-flex align-items-center"
                    style="max-height: 100px; background-size: cover; background-position: center top;">
                    <h1>Hello <%= user.st_name %>
                    </h1>
                </div>

                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card mb-5" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <img height="250" class="card-img-top"
                                src="http://faqs.web-school.in/wp-content/uploads/2017/05/Attendance_2-640x480.jpg"
                                alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Mark Attendance</h5>
                                <p class="card-text">Record Daily Attendace of your students here! You cannot edit/update
                                    the records after one month.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-wrapper text-center d-flex justify-content-between"
                                    style="color: #fff;">
                                    <a href="/admin/addStaff" class="btn btn-primary">Mark Attendance</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card mb-5" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <img height="250" class="card-img-top"
                                src="http://1.bp.blogspot.com/-nzm908Pfunw/VqXgeRNp4LI/AAAAAAAACJI/wgeVntLSIT8/w1200-h630-p-k-no-nu/status-report.png"
                                alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Student Report</h5>
                                <p class="card-text">Manage your student's report here (marks). All
                                    your
                                    changes will be reflected to them as well.
                                </p>

                            </div>
                            <div class="card-footer">
                                <div class="btn-wrapper text-center d-flex justify-content-between"
                                    style="color: #fff;">
                                    <a href="/admin/addStaff" class="btn btn-primary">Student Report</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card mb-5" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <img height="250" class="card-img-top"
                                src="https://venngage-wordpress.s3.amazonaws.com/uploads/2018/10/report-design-header.png" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Generate Class Report</h5>
                                <p class="card-text">See how well your class is performing! Generate the overall class report (Attendace/Marks) here.
                                </p>

                            </div>
                            <div class="card-footer">
                                <div class="btn-wrapper text-center d-flex justify-content-between"
                                    style="color: #fff;">
                                    <a href="/admin/addStaff" class="btn btn-primary">Class Report</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </section>

        <%- include('../Includes/staff_end.ejs') %>