<%- include('../Includes/begin.ejs') %>
<%- include('../Includes/navbar.ejs') %>

<section id="content-wrapper">
    <main role="main" class="pt-5 main">
        <div class="header text-center pt-5 pt-lg-4">
            <h1>STAFF <span style="color: orangered;">LOGIN</span></h1>
        </div>

        <hr>

        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <div class="card card-body" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>
                        <%- include('../Includes/messages') %>
                        <form action="/staff/login" method="POST">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" class="form-control"
                                    placeholder="Enter Email" required />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" class="form-control"
                                    placeholder="Enter Password" required />
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                        <p class="lead">
                            Forgot Password? <a href="/staff/forgot-password">Generate New Password</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </main>
</section>

<%- include('../Includes/end.ejs') %>